:root {
  --ion-color-primary: #00a846;
  --ion-color-primary-rgb: 0, 168, 70;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #00943e;
  --ion-color-primary-tint: #1aad59;
}
